* {
    line-height: 1.2;
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
  }

  html {
    
    margin-top: 170px;
  }

  body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
  }

  h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
    margin-bottom:20px;
  }

  p {
    margin: 0 auto;
    width: 280px;
  }

  